body {
    background: #ddd;
}


#divswg img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#divswg .imgview {
    background: #000;
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
}

.gridview {
    min-width: 560px;
    background: #555;
    padding: .3em;
    border: solid;
    border-color: #333;
}

.gridview .box {
    background: #111;
    color: #fff;
    float: left;
    margin: 10px;
    padding: 3px;

    text-align: center;
    vertical-align: text-bottom;

    width: 150px;
    height: 150px;
}

.gridview .featured {
    width: 310px;
    height: 310px;
}

.gridview .wide {
    width: 300px;
    height: 150px;
}

.gridview .widefeatured {
    width: 610px;
    height: 310px;
}

